# API keys and project notes
TOKEN.txt
APIKEY.txt
notes.txt


# Compiled Python files
__pycache__/

# Logs and databases
*.log
*.sqlite

# Local environment settings
.env

*.lock
*.toml
*.nix
.breakpoints
.replit

# Dependencies
__pypackages__/
venv/
